/* Gloabl Stylings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General stylings */
body {
    background-image: linear-gradient(120deg, #ff4576, #f5a30c);
    color: #fffdf5;
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 3rem;
    text-shadow: 2px 2px black;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border: solid black;
}

form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;

}

/* Buttons */
.done-btn,
.delete-btn {
    background: #ed1a1a;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.done-btn {
    background: #22e687 ;
}

form button {
    color: #ff0d15;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff0d15;
    color: white;

}
/* allows you to click buttons without clicking directly on 'i' tag */
.fa-trash, .fa-check {
    pointer-events: none;
}
/* To Do Items */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}
/* Crosses out completed items when the 'done' button is clicked */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
/* List item deletion animation */
.fall {
    transform: translateY(8rem);
    opacity: 0;
}
/* Gives spacing between list items and bottom of the page */
.space {
    height: 100px;
}

/* Pomodoro Timer */
/* container for entire timer section */
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}























a {
    color: white;
    text-decoration: none;
}


.length-control {
    max-width: 600px;
    margin: 0 auto;
}

.length-control__wrap {
    display: inline-block;
    width: 295px;
    text-align: center;
}

.length-control__wrap.disabled > *,
.length-control__wrap.disabled a:hover {
    opacity: .3;
}

.length-control__header {
    font-size: 1.3em;
}

.length-control__button {
    display: inline-block;
    padding: 0 10px;
    font-size: 2.5em;
    opacity: .7;
    transition: opacity .5s;
}

.length-control__button:hover {
    opacity: .9;
}

.length-control__button.disabled {
    opacity: .2;
}

.length-control__number {
    width: 90px;
    display: inline-block;
    font-size: 3em;

}

.timer {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 30px auto 0;
    padding: 20px 0;
    border: solid 1px rgba(255, 255, 255, .1);
}

.timer:hover {
    border-color: rgba(255, 255, 255, .3);
}

.timer:hover .timer-header__action {
    opacity: .7;
}

.timer-header__action {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5em;
    opacity: .5;
    transition: opacity .5s;
}

.timer-header__general {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 2em;
}

.timer-header__pause {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    opacity: .5;
}

.timer-count {
    padding-left: 3px;
}

.timer-count__wrap {
    display: inline-block;
    position: relative;
    width: 195px;
    height: 195px;
}

.timer-count__chart {
    position: absolute;
    top: 0;
    left: 6px;
}

.timer-count__text {
    display: block;
    padding-top: 45px;
    font-size: 3em;
    text-align: center;
}

.timer-count__label {
    display: block;
    text-align: center;
    opacity: .8;
}


.center-clocks{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 620px) {
    .length-control__wrap {
        display: block;
        width: auto;
    }
    .timer-count__wrap {
        display: block;
        margin: 0 auto;
    }
}