  /* Pomodoro */
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:500px;
    padding:0px 5% 0px 180px;
    box-sizing:border-box;
}
  form input {
    border: solid black;
    
}
form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;

}

/* Buttons */
.done-btn,
.delete-btn {
    background: #ed1a1a;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.done-btn {
    background: #22e687 ;
}

form button {
    color: #ff0d15;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff0d15;
    color: white;

}
/* allows you to click buttons without clicking directly on 'i' tag */
.fa-trash, .fa-check {
    pointer-events: none;
}
/* To Do Items */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}
/* Crosses out completed items when the 'done' button is clicked */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
/* List item deletion animation */
.fall {
    transform: translateY(8rem);
    opacity: 0;
}
/* Gives spacing between list items and bottom of the page */
.space {
    height: 100px;
}

.space2 {
    height: 20px;
}
/* Pomodoro Timer */
/* container for entire timer section */
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.length-control {
    max-width: 600px;
    margin: 0 auto;
}

.length-control__wrap {
    display: inline-block;
    width: 295px;
    text-align: center;
}

.length-control__wrap.disabled > *,
.length-control__wrap.disabled a:hover {
    opacity: .3;
}

.length-control__header {
    font-size: 1.3em;
}

.length-control__button {
    display: inline-block;
    padding: 0 10px;
    font-size: 2.5em;
    opacity: .7;
    transition: opacity .5s;
}

.length-control__button:hover {
    opacity: .9;
}

.length-control__button.disabled {
    opacity: .2;
}

.length-control__number {
    width: 90px;
    display: inline-block;
    font-size: 3em;

}

.timer {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 30px auto 0;
    padding: 20px 0;
    border: solid 1px rgba(66, 0, 104, 0.1);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.timer:hover {
    border-color: rgba(63, 0, 134, 0.3);
}

.timer:hover .timer-header__action {
    opacity: .7;
}

.timer-header__action {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5em;
    opacity: .5;
    transition: opacity .5s;
}

.timer-header__general {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 2em;
}

.timer-header__pause {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    opacity: .5;
}

.timer-count {
    padding-left: 3px;
}

.timer-count__wrap {
    display: inline-block;
    position: relative;
    width: 195px;
    height: 195px;
}

.timer-count__chart {
    position: absolute;
    top: 0;
    left: 6px;
}

.timer-count__text {
    display: block;
    padding-top: 45px;
    font-size: 3em;
    text-align: center;
}

.timer-count__label {
    display: block;
    text-align: center;
    opacity: .8;
}


.center-clocks{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 620px) {
    .length-control__wrap {
        display: block;
        width: auto;
    }
    .timer-count__wrap {
        display: block;
        margin: 0 auto;
    }
}

/* Buttons */
.done-btn,
.delete-btn {
    background: #ed1a1a;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.done-btn {
    background: #22e687 ;
}

form button {
    color: #ff0d15;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff0d15;
    color: white;

}
/* allows you to click buttons without clicking directly on 'i' tag */
.fa-trash, .fa-check {
    pointer-events: none;
}
/* To Do Items */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}
/* Crosses out completed items when the 'done' button is clicked */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
/* List item deletion animation */
.fall {
    transform: translateY(8rem);
    opacity: 0;
}
/* Gives spacing between list items and bottom of the page */
.space {
    height: 100px;
}

/* Pomodoro Timer */
/* container for entire timer section */
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

















  /* Kanban */
  @font-face {
      font-family: 'f-barlow';
      font-weight: 400;
      font-style: normal;
      src: url('extras/Barlow-Regular.woff') format('woff');
  }

  @font-face {
      font-family: 'f-barlow';
      font-weight: 500;
      font-style: normal;
      src: url('extras/Barlow-Medium.woff') format('woff');
  }

  /***/
  @font-face {
      font-family: 'f-ibm-plex';
      font-weight: 400;
      font-style: normal;
      src: url('extras/IBMPlexSans-Regular.woff') format('woff');
  }

  @font-face {
      font-family: 'f-ibm-plex';
      font-weight: 500;
      font-style: normal;
      src: url('extras/IBMPlexSans-Medium.woff') format('woff');
  }

  /***/
  @font-face {
      font-family: 'f-open-sans';
      font-weight: 400;
      font-style: normal;
      src: url('extras/OpenSans-Regular.woff') format('woff');
  }

  @font-face {
      font-family: 'f-open-sans';
      font-weight: 500;
      font-style: normal;
      src: url('extras/OpenSans-600.woff') format('woff');
  }

  /***/
  @font-face {
      font-family: 'f-segoe-ui';
      font-weight: 400;
      font-style: normal;
      src: local('Segoe UI');
  }

  @font-face {
      font-family: 'f-segoe-ui';
      font-weight: 500;
      font-style: normal;
      src: local('Segoe UI Semibold');
  }

  /***/
  @font-face {
      font-family: 'f-maven-pro';
      font-weight: 400;
      font-style: normal;
      src: url('extras/MavenPro-Regular.woff') format('woff');
  }

  @font-face {
      font-family: 'f-maven-pro';
      font-weight: 500;
      font-style: normal;
      src: url('extras/MavenPro-500.woff') format('woff');
  }

  /***/
  html {
      --ff: f-barlow, sans-serif;

      --fs: 11;                        /* font-size   */
      --lh: calc( var(--fs) * 1.25 );  /* line-height */
      --fs-head: 13.6;                 /* font-size of board heading */
      --fs-nops: 9;                    /* font-size of the note ops */
      --lw: calc(20 * var(--fs) + 30); /* .list width */
  }

  html, body, input, textarea {
      font-family: var(--ff);
      font-size: calc( var(--fs) * 1px );
      line-height: calc( var(--lh) * 1px );
  }

  /***/
  html.f-ibm-plex {
      --ff: f-ibm-plex, sans-serif;
      --fs: 11;
      --fs-head: 12.5;
      --lw: calc(20 * var(--fs) + 40);  /* .list width */
  }

  /***/
  html.f-open-sans {
      --ff: f-open-sans, sans-serif;
      --fs: 11;
      --fs-head: 12.5;
      --lw: calc(20 * var(--fs) + 50);  /* .list width */
  }

  /***/
  html.f-segoe-ui {
      --ff: f-segoe-ui, sans-serif;
      --fs: 11;
      --fs-head: 13;
      --fs-nops: 8;
      --lw: calc(22 * var(--fs) + 40);  /* .list width */
  }

  /***/
  html.f-maven-pro {
      --ff: f-maven-pro, sans-serif;
      --fs: 12;
      --fs-head: 13;
      --lw: calc(20 * var(--fs) + 47);  /* .list width */
  }

  /***/
  html, body, h1, textarea, input {
      padding: 0;
      margin: 0;
  }

  body {
      background: #fff;
      background: #f8f9fb;
  }

  /***/
  @keyframes shake {
      33%  { margin-left: -5px; }
      66%  { margin-left:  5px; }
      100% { margin-left:  0px; }
  }

  a {
      text-decoration: none;
      transition: color 200ms;
  }

  a, a:active, a:focus, textarea, input {
      outline: none;
  }

  tt {
      display: none;
  }

  /***/
  .ding {
      animation-name: shake;
      animation-duration: 200ms;
  }

  .no-user-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
}
  /***/
  .clearfix:after,
  .board:after,
  .lists:after,
  .notes:after,
  .head:after,
  .menu:after {
      content: "";
      display: table;
      clear: both;
  }

  /***/
  body.dragging {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /***/
  .board {
      min-width: calc( var(--lw) * 1px );

      width: -moz-max-content;    /* firefox */
      width: -webkit-max-content; /* chrome  */
      width: intrinsic;           /* safari  */

      margin: 0 auto;
      padding: 20px;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  body.crowded .board {
      margin-top: 28px;
  }

  .board u {
      text-decoration: none;
  }

  .board u:before {
      content: '\00D7';
      position: relative;
      top: 2px;
      font-size: calc(16rem / 11);
      line-height: calc(10 / 17);
      font-weight: 400;
  }

  /***/
  .board .head {
      padding: 5px 0;
      margin: 1px 5px 0;
      position: relative;
  }

  .board .head .text,
  .board .head .edit {
      font-weight: 500;
      font-size: calc( var(--fs-head) / 11 * 1rem );
      line-height: calc( 20 / var(--fs-head) );
      padding: 0 5px 2px;
      border: none;
  }

  .board .head .text {
      min-height: 20px;
      white-space: pre;
      overflow: hidden;
  }

  .board .head .edit {
      display: none;
  }

  .board .head .edit::placeholder {
      font-weight: 400;
      font-size: calc(10rem / 11);
      line-height: calc(22 / 10);
      text-transform: uppercase;
      color: #1489db;
      opacity: 0.8;
  }

  .board .head.editing .text {
      display: none;
  }

  .board .head.editing .edit {
      display: block;
      outline: 1px solid #8eaedd;
  }

  .board .menu {
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
      padding: 5px 6px 7px 30px;
      background: linear-gradient(to right, #EAEDF000, #EAEDF0 10px);
      line-height: calc(20 / 11);
  }

  .board .menu a,
  .board .ops  a {
      color: #000000A0;
      transition: color 200ms;
  }

  .board .menu a {
      padding-left: 10px;
  }

  .board .menu a:hover,
  .board .ops  a:hover {
      color: #000;
  }

  .board .menu a.warn:hover,
  .board .ops  a.warn:hover {
      color: #c40;
  }

  .board .menu .undo-board,
  .board .menu .redo-board {
      display: none;
  }

  .board .head.editing .menu {
      display: none;
  }

  .board > .head {
      background: #EAEDF0;
      padding: 5px;
      margin: 0 0 10px;
      border-radius: 2px;
      position: relative;
  }

  .board > .head .menu {
      margin-right: 5px;
  }

  /***/
  .board .lists-scroller {
      height: auto;
      margin: -1px 0 10px;
      overflow-x: auto;
      overflow-y: hidden;
      display: none;
  }

  .lists-scroller div {
      height: 1px;
  }

  .board .lists {
      white-space: nowrap;
      overflow: auto;
      scrollbar-width: none;
  }

  .board .list {
      display: inline-block;
      vertical-align: top;
      width: calc( var(--lw) * 1px );
      margin: 0 5px 10px;
      background: linear-gradient(#EAEDF0 30px, #DDE1E5 90px);
      border-radius: 2px;
  }

  .board .list::-webkit-scrollbar {
      display: none;
  }

  .board .list:first-child {
      margin-left: 0;
  }

  .board .list:last-child {
      margin-right: 0;
  }

  .board .list .notes {
      padding: 0 5px;
  }

  /***/
  .board .head .menu .teaser {
      position: absolute;
      right: 3px;
      top: 5px;
      padding: 0 3px;
  }

  .board .head .menu .bulk {
      display: none;
      opacity: 0;
      z-index: 1;
  }

  .board .head .menu:hover .bulk {
      display: block;
      opacity: 1;
  }

  .board .head .menu:hover .teaser {
      display: none;
  }

  /***/
  .board .list .menu .mov-list-r.half {
      padding-left: 0;
  }

  .board .list .menu .full {
      display: none;
  }

  .board .list:first-child .menu .half,
  .board .list:last-child  .menu .half {
      display: none;
  }

  .board .list:first-child .menu .mov-list-r.full,
  .board .list:last-child  .menu .mov-list-l.full {
      display: inline-block;
  }

  .board .list:first-child:last-child .menu .half,
  .board .list:first-child:last-child .menu .full {
      display: none;
  }

  /***/
  .board .note {
      background: #fff;
      margin-top: 5px;
      box-shadow: 0 1px 2px #bbb, 0 0 1px #ddd;
      position: relative;
  }

  .board .note.dragging,
  .board .note.dragging.raw {
      background: #CED4DA;
      box-shadow: 0 +1px 0 #0001 inset,
                  0 -1px 0 #0001 inset,
                  +1px 0 0 #0001 inset,
                  -1px 0 0 #0001 inset;
  }

  .board .note.dragging * {
      opacity: 0 !important;
  }

  /***/
  .board .note:last-child {
      margin-bottom: 5px;
  }

  .board .note {
      padding-bottom: 6px;
  }

  .board .note .text,
  .board .note .edit {
      padding: 5px 10px 0;
      margin-right: 15px;
      min-height: 100%;
  }

  .board .note .text {
      white-space: pre-wrap;
      overflow-wrap: anywhere;
      min-height: calc( var(--lh) * 1px );
  }

  /***/
  .board .head .text a,
  .board .note .text a {
      color: inherit;
      cursor: default;
      transition: none;
  }

  @keyframes whoomp {
      0%   { color: inherit; }
      30%  { color: #888;    }
      100% { color: inherit; }
  }

  .board .head .text a:hover,
  .board .note .text a:hover {
      animation-name: whoomp;
      animation-duration: 700ms;
  }

  .reveal .board .head .text a,
  .reveal .board .note .text a {
      color: #1489db;
      cursor: pointer;
  }

  .reveal .board .head .text a:hover,
  .reveal .board .note .text a:hover {
      animation-name: none;
  }

  /***/
  .board .note .edit {
      display: none;
      border: none;
  }

  .board .note.editing {
      box-shadow: none;
      outline: 1px solid #8eaedd;
  }

  .board .note.editing .text {
      display: none;
  }

  .board .note.editing .edit {
      display: block;
      resize: none;
  }

  /***/
  .board .note .ops {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: opacity 400ms;
      cursor: default;
      font-size: calc(9rem / 11);
  }

  .board .note.editing .ops {
      display: none;
  }

  .board .note:hover .ops {
      opacity: 1;
  }

  .board .note .ops .teaser {
      display: block;
      margin-top: 2px;
      margin-right: 1px;
      padding-right: 3px;
  }

  .board .note .ops .teaser:before {
      content: '\2261';
  }

  .board .note .ops .bulk {
      display: none;
      background: #fff;
      border-left: none;
      padding: 1px 0 2px 5px;
      font-size: calc( var(--fs-nops) * 1px );
      font-weight: 500;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
  }

  .board .note .ops .bulk a {
      padding-right: 4px;
  }

  .board .note .ops:hover .bulk {
      display: block;
  }

  .board .note .ops:hover .teaser {
      display: none;
  }

  /***/
  .board .note.raw {
      background: transparent;
      box-shadow: none;
      font-weight: 500;
  }

  .board .note.raw.editing {
      background: #fff;
  }

  .board .note.raw .text {
  }

  /***/
  .board .note.collapsed {
      padding-bottom: 6px;
  }

  .board .note.collapsed .text,
  .note-dragster.collapsed .text {
      max-height: calc( var(--lh) * 1px );
      overflow: hidden;
      padding-bottom: 0;
  }

  .board .note.collapsed .ops {
      opacity: 1;
  }

  .board .note.collapsed .ops .teaser {
      padding: 1px 3px 0 1px;
  }

  .board .note.collapsed .ops .teaser:before {
      content: '_';
      top: 1px;
  }

  .board .note.collapsed:hover .ops .teaser:before {
      content: '\2261';
  }

  /***/
  .note-dragster {
      z-index: 2;
      position: absolute;
      opacity: 0;
      background: #fff;
      white-space: pre-wrap;
      cursor: move;

      padding: 5px 25px 6px 10px;

      box-shadow: 0 +1px 0 #ACB4BC inset,
                  0 -1px 0 #ACB4BC inset,
                  +1px 0 0 #ACB4BC inset,
                  -1px 0 0 #ACB4BC inset,
                  0px 1px 3px #00000030;
  }

  .note-dragster a {
      color: #000;
  }

  /***/
  .logo {
      position: absolute;
      top: 9px;
      left: 9px;
      line-height: calc(19 / 11);
      padding: 6px 12px;
      z-index: 3;
      opacity: 0.6;
      background: #f8f9fb;
  }

  body.crowded .logo:hover {
      background: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  .logo:hover {
      opacity: 1.0;
  }

  .logo .alert {
      display: none;
      font-style: normal;
      margin-left: 5px;
      color: #d20;
  }

  .logo .bulk {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: opacity 400ms;
      padding-top: 1px;
  }

  .logo:hover .bulk {
      height: auto;
      opacity: 1;
  }

  .logo a.site,
  .logo .bulk a {
      color: #000;
  }

  .logo .bulk a:hover {
      color: #1489db;
  }

  .logo .bulk a {
      display: block;
  }

  .logo .bulk a:before {
      display: inline-block;
      content: '-';
      width: 11px;
  }

  /***/
  .logo.updated {
      opacity: 1;
  }

  .logo.updated .alert {
      display: inline-block;
  }

  .logo.updated .bulk .view-changes {
      color: #d20;
  }

  /***/
  .config {
      position: absolute;
      top: 10px;
      right: 21px;
      line-height: calc(19 / 11);
      z-index: 3;
      background: #f8f9fb;
  }

  .crowded .config:hover,
  .crowded.adjusting .config {
      background: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  .config a {
      display: block;
      color: #000;
      transition: color 200ms;
  }

  .config a:hover {
      color: #1489db;
  }

  .config .teaser {
      padding: 5px;
      color: #999;
      position: relative;
  }

  .config .teaser i {
      /* backups off */
      font-style: normal;
  }

  .config .teaser u {
      /* backups on */
      display: none;
      text-decoration: none;
  }

  .config .bulk {
      margin-right: 20px;
      padding: 5px 0 0 22px;
      transition: opacity 400ms;
  }

  .config .bulk .boards {
      display: none;
      padding: 6px 2px;
      margin: 6px -2px;
      border-top: 1px solid #00000028;
      border-bottom: 1px solid #00000028;
  }

  .config .bulk .boards a.load-board {
      display: block;
      padding-left: 5px;
      margin-left: -5px;
      transition: none;
  }

  .config .bulk .boards a.load-board.active {
      color: #1489db;
  }

  .config .bulk .boards a.load-board.active:before {
      content: '\2022 ';
      display: inline-block;
      width: 13px;
      margin-left: -13px;
  }

  .config .bulk .boards a.load-board.active:hover {
      color: #000;
  }

  .config .bulk .boards a.load-board.dragging {
      background: #DDE1E5;
      border-radius: 2px;
      color: transparent;
      transition: none;
      box-shadow: 0 0 1px #0002 inset;
  }

  .config .bulk .boards a.load-board.dragging.active:before {
      content: '';
  }

  .load-dragster {
      z-index: 10;
      position: absolute;
      opacity: 0;
      line-height: calc(19 / 11);
      padding-left: 5px;
      background: #fff;
      color: #000;
      border-radius: 2px;
      cursor: move;
      outline: 1px solid #ACB4BC;
      box-shadow: 0px 1px 3px #00000030;
  }

  .config .bulk a i,
  .config .bulk a b {
      font-style: normal;
      font-weight: inherit;
  }

  .config .bulk a i {
      display: none;
  }

  .config .bulk .break {
      padding: 6px 2px 0;
      margin: 6px -2px 0;
      border-top: 1px solid #00000028;
  }

  /***/
  .config .bulk input.imp-board-select {
      position: absolute;
      width: 1px;
      height: 1px;
      visibility: hidden;
  }

  /***/
  .config.backups-on .teaser i {
      display: none;
  }

  .config.backups-on .teaser u {
      display: inline-block;
      font-size: calc(8rem / 11);
      color: #555;
  }

  .config.backups-on.backing-up .teaser u {
      opacity: 0.4;
  }

  .config.backups-on .bulk .auto-backup:before {
      content: '\2713 ';
      display: inline-block;
      width: 15px;
      margin-left: -15px;
  }

  /***/
  .config.backups-on.backup-err .teaser i {
      display: inline-block;
  }

  .config.backups-on.backup-err .teaser u {
      display: inline-block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 10px;
      top: 13px;
      right: -4px;
      background: #d20;
      color: transparent;
  }

  .config.backups-on.backup-err .bulk .auto-backup {
      color: #d20;
  }

  .config.backups-on.backup-err .bulk .auto-backup:before {
      content: '! ';
      color: #d20;
      width: 13px;
      margin-left: -13px;
  }

  /***/

  .config .bulk .section .title {
      text-align: center;
      width: 0;
      display: inline-block;
      white-space: pre;
      transition: width 250ms, padding 250ms;
  }

  .config .bulk .section .title u {
      text-decoration: none;
      transition: opacity 100ms;
  }

  .config .bulk .section .details {
      height: 0;
      opacity: 0;
      transition: opacity 250ms;
      padding-right: 8px;
      margin-right: -8px;
  }

  /***/
  .config .bulk .section.open {
      padding-bottom: 8px;
      border-bottom: 1px solid #00000028;
  }

  .crowded .config .bulk .section.open {
      border-bottom: none;
  }

  .config .bulk .section.open .title {
      width: 100%;
      font-weight: 500;
      padding-left: 5px;
      transition: width 250ms, padding 250ms;
  }

  .config .bulk .section.open .title u {
      opacity: 0;
      transition: opacity 100ms;
  }

  .config .bulk .section.open .details {
      height: 100%;
      opacity: 1;
      transition: opacity 250ms;
  }

  /***/
  .config .bulk .ui-prefs .f-prefs table {
      width: 10px; /* mobile safari */
      padding: 0;
      margin: 0;
      border-collapse: collapse;
  }

  .config .bulk .ui-prefs .f-prefs td {
      margin: 0;
      padding: 0 0 0 5px;
  }

  .config .bulk .ui-prefs .f-prefs td.name {
      width: 100%;
      white-space: pre;
      padding-left: 0;
  }

  .config .bulk .ui-prefs .f-prefs tr td.val {
      text-align: center;
  }

  .fs-set .config .bulk .ui-prefs .f-prefs tr.ui-fs td.val,
  .lh-set .config .bulk .ui-prefs .f-prefs tr.ui-lh td.val,
  .lw-set .config .bulk .ui-prefs .f-prefs tr.ui-lw td.val {
      color: #1489db;
      cursor: pointer;
  }

  .config .bulk .ui-prefs .f-prefs a {
      display: inline-block;
      padding: 0 2px;
      transition: padding 250ms;
  }

  .config .bulk .ui-prefs .f-prefs a.less:hover {
      padding: 0 4px 0 0;
      transition: padding 250ms;
  }

  .config .bulk .ui-prefs .f-prefs a.more:hover {
      padding: 0 0 0 4px;
      transition: padding 250ms;
  }

  .config .bulk .ui-prefs .f-prefs a.more:hover {
      padding: 0 0 0 4px;
      transition: padding 250ms;
  }

  /***/
  .config .bulk .ui-prefs .switch-font.active:before {
      content: '\2022 ';
      display: inline-block;
      width: 13px;
      margin-left: -13px;
  }

  /***/
  .config .bulk {
      display: none;
      opacity: 0;
  }

  .config:hover .teaser,
  .adjusting .config .teaser {
      display: none;
  }

  .config:hover .bulk,
  .adjusting .config .bulk {
      display: block;
      opacity: 1;
  }

  /***/
  .adjusting * {
      cursor: row-resize !important;
  }

  /***/
  .overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.9);
      color: #000;

      display: none; /* flex */
      justify-content: center;
  }

  .overlay > div {
      font-size: calc(12rem / 11);
      line-height: calc(16 / 12);
      background: #fff;
      align-self: start;
      margin-top: 100px;
      border-radius: 1px;
      box-shadow: 0 2px 6px #000;
  }

  /***/
  .overlay > div.license {
      white-space: pre-wrap;
      padding: 20px 25px 22px;
      overflow-y: auto;

      width: calc( (var(--fs) * 36 + 6) * 1px ); /* 402px, 476px */
  }

  .overlay > div.license a {
      color: #1489db;
  }

  .overlay > div.license span {
      display: inline-block;
      padding-right: 8px;
  }

  /***/
  .overlay > div.about {
      text-align: center;
      padding: 50px 50px;
      position: relative;
  }

  .overlay > div.about h1 {
      font-size: calc(15rem / 11);
      font-weight: 500;
      margin-bottom: 10px;
  }

  .overlay > div.about a {
      display: block;
      color: #1489db;
  }

  .overlay > div.about div {
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      color: #fff9;
  }

  .overlay > div.about div span {
      display: inline-block;
      text-align: left;
      padding-right: 10px;
  }

  /***/

  .overlay .backup-conf {
      padding: 20px 40px;
      min-width: 300px;
      position: relative;
  }

  .overlay .backup-conf .close {
      position: absolute;
      top: 0px;
      right: 12px;
      font-size: calc(22rem / 11);
      color: #000;
      opacity: 0.3;
      transition: opacity 300ms;
  }

  .overlay .backup-conf .close:hover {
      opacity: 1;
      transition: opacity 300ms;
  }

  .overlay .backup-conf h3 {
      font-size: calc(15rem / 11);
      font-weight: 500;
      text-align: center;
      margin: 20px 0 0 0;
  }

  .overlay .backup-conf .what {
      display: block;
      text-align: center;
      border-bottom: 1px solid #888;
      margin: 0 -10px 20px;
      padding: 0 10px 30px;
  }

  .overlay .backup-conf .what a {
      color: #1489db;
  }

  .overlay .backup-conf .opt {
      margin-top: 5px;
  }

  .overlay .backup-conf .opt:before {
      --col: #333;

      content: ' ';
      display: inline-block;
      margin-top: -1px;

      display: inline-block;
      content: ' ';
      width: calc(9rem / 11);
      height: calc(9rem / 11);
      margin-right: 8px;

      position: relative;
      top: 1px;
      background: var(--col);
      border: 1px solid var(--col);
      border-radius: 1px;
      box-shadow: 0 2px 0 #fff inset, 0 -2px 0 #fff inset, 2px 0 0 #fff inset, -2px 0 0 #fff inset;
  }

  .overlay .backup-conf .opt:hover:before {
      --col: #1489db;
  }

  .overlay .backup-conf .off .opt:before {
      background: #fff;
  }

  .overlay .backup-conf .opt:hover {
      color: #1489db;
  }

  .overlay .backup-conf .opt {
      cursor: pointer;
  }

  .overlay .backup-conf .etc {
      margin-top: 3px;
      margin-bottom: 10px;
      margin-left: calc( 9rem / 22 );
      padding: 2px 0 0 14px;
      border-left: 1px solid #888;
  }

  .overlay .backup-conf .off .etc {
      display: none;
  }

  .overlay .backup-conf .etc span {
      display: inline-block;
      min-width: calc( 3px + var(--fs) * 7px );
      margin-right: calc( var(--fs) * 1px );
  }

  .overlay .backup-conf .etc input {
      display: inline-block;
      width: 170px;
      padding: 0 5px;
      line-height: calc(20 / 11);
      margin-bottom: 3px;
      border: 1px solid #ccc;
  }

  .overlay .backup-conf .etc input:focus {
      border-bottom: 1px solid #888;
  }

  .overlay .backup-conf .etc input::placeholder {
      font-weight: 400;
      font-size: calc(10rem / 11);
      line-height: calc(20 / 10);
      text-transform: uppercase;
      color: #000;
      opacity: 0.4;
  }

  .overlay .backup-conf .etc .status {
      display: none;
      margin: 0;
  }

  .overlay .backup-conf .etc .status input {
      color: #222;
      background: #0000000E;
      border: 1px solid transparent;
  }

  .overlay .backup-conf .etc .status.error input {
      color: #d20;
      background: #dd220018;
  }

  .overlay .backup-conf .save {
      display: block;
      text-align: center;
      margin: 20px -10px 5px;
      padding: 20px 10px 0;
      border-top: 1px solid #888;
      word-spacing: 30px;
      position: relative;
  }

  .overlay .backup-conf .save a {
      color: #1489db;
  }

  .overlay .backup-conf.off .save .check {
      color: #aaa;
      pointer-events: none;
      cursor: default;
  }

  /***/

  @media print {
      .logo, .config,
      .board .head .teaser,
      .list .head .teaser {
          visibility: hidden;
          display: none;
      }

      .board .note {
          box-shadow: none;
          outline: 1px solid #ccc;
      }

      .board .note.raw {
          outline: none;
      }
  }

  /*
   *	Dark mode
   */
  .theme-dark body {
      background: #09090A;
      color: #d6d6d6;
  }

  .theme-dark .board .head {
      background: #17171a;
  }

  /***/
  .theme-dark .board .menu {
      background: linear-gradient(to right, #17171a00, #17171a 10px);
  }

  .theme-dark .board .menu a {
      color: #aaa;
  }

  .theme-dark .board .menu a:hover {
      color: #fc4;
  }

  .theme-dark .board .menu a.warn:hover,
  .theme-dark .board .ops  a.warn:hover {
      color: #fc5555 !important;
      text-shadow: 0 0 1px #fc555544;
  }

  .theme-dark .board .head {
      color: #eee;
  }

  .theme-dark .board .head .edit::placeholder {
      color: #bf9d21;
  }

  .theme-dark .board > .head {
      box-shadow: 0 0 2px #fff1 inset;
  }

  /***/
  .theme-dark .board .list {
      background: #17171a;
      box-shadow: 0 0 2px #fff1 inset;
  }

  .theme-dark .board .note {
      background: linear-gradient(#242426, #202022);
      box-shadow: 0 1px 3px #000a;
      text-shadow: 0 0 4px #0008;
  }

  .theme-dark .reveal .board .head .text a,
  .theme-dark .reveal .board .note .text a {
      color: #fc0;
  }

  @keyframes whoomp-dark {
      0%   { color: inherit; }
      30%  { color: #fff;    }
      100% { color: inherit; }
  }

  .theme-dark .board .head .text a:hover,
  .theme-dark .board .note .text a:hover {
      animation-name: whoomp-dark;
  }


  .theme-dark .board .note.raw {
      background: transparent;
      box-shadow: none;
  }

  .theme-dark .board .note.raw .text {
      color: #eee;
      text-shadow: 0 0 4px #0008;
  }

  .theme-dark .board .note .ops .teaser {
      color: #ccc;
  }

  .theme-dark .board .note .ops .bulk {
      background: #202022;
      border-left: 1px solid #111;
      border-bottom: 1px solid #111;
  }

  .theme-dark .board .note.raw .ops .bulk {
      border: none;
  }

  .theme-dark .board .note .ops .bulk a {
      color: #ccc;
  }

  .theme-dark .board .note .ops .bulk a:hover {
      color: #fc2;
  }

  /***/
  .theme-dark .board .note.dragging,
  .theme-dark .board .note.dragging.raw {
      background: #09090A;
      outline: 1px solid #fff2;
  }

  .theme-dark .note-dragster {
      box-shadow: 0px 1px 4px #000;
      background: linear-gradient(#242426, #202022);
      outline: 1px solid #fc28;
  }

  .theme-dark .note-dragster a {
      color: #d6d6d6;
  }

  /***/
  .theme-dark .wrap textarea,
  .theme-dark .wrap input {
      background: #111315;
      color: #eee;
  }

  .theme-dark .board .head.editing .edit {
      outline: 1px solid #bc9908;
  }

  .theme-dark .board .note.editing {
      background: #111315;
      outline: 1px solid #bc9908;
  }

  /***/
  .theme-dark .logo a {
      color: #ccc;
  }

  .theme-dark .logo,
  .theme-dark.crowded .logo:hover {
      background: #09090A;
  }

  .theme-dark .logo a:hover {
      color: #fc2;
  }

  .theme-dark .logo > a:hover {
      color: #fff;
  }

  /***/
  .theme-dark .config,
  .theme-dark.crowded .config:hover {
      background: #09090A !important;
  }

  .theme-dark .config a {
      color: #ddd;
  }

  .theme-dark .config a:hover {
      color: #fc2;
  }

  .theme-dark .config .bulk .boards {
      border-top: 1px solid #fff2;
      border-bottom: 1px solid #fff2;
  }

  .theme-dark .config .bulk .boards a.load-board.active {
      color: #fc2;
  }

  .theme-dark .config .bulk .boards a.load-board.active:hover {
      color: #ddd;
  }

  .theme-dark .config .bulk .break {
      border-top: 1px solid #fff2;
  }

  .theme-dark.fs-set .config .bulk .ui-prefs .f-prefs tr.ui-fs td.val,
  .theme-dark.lh-set .config .bulk .ui-prefs .f-prefs tr.ui-lh td.val,
  .theme-dark.lw-set .config .bulk .ui-prefs .f-prefs tr.ui-lw td.val {
      color: #fc2;
  }

  .theme-dark .config a.switch-theme i {
      display: inline;
  }

  .theme-dark .config a.switch-theme b {
      display: none;
  }

  /***/
  .theme-dark .config .bulk .boards .load-board.dragging,
  .theme-dark .config .bulk .boards .load-board.active.dragging {
      background: #fff2;
      color: transparent;
  }

  .theme-dark .load-dragster {
      background: #09090A;
      box-shadow: 0px 2px 4px #000;
      outline: 1px solid #fc2a;
      color: #ddd;
  }

